Repository elevator-saga/elevator-saga: changes, and which lefthook commands are due for each by the changed paths.
All: 1. lint code, 2. format code, docs and config, 3. lint docs, 4. generate markdown TOC

lefthook.yml:

pre-commit:
  piped: true
  commands:
    "1. lint code":
      glob: "*.ts"
      interactive: true
      run: npx eslint --fix {staged_files}
      stage_fixed: true

    "2. format code, docs and config":
      glob: "*.{ts,json,md,yaml}"
      interactive: true
      run: npx prettier {staged_files}
      stage_fixed: true

    "3. lint docs":
      glob: "*.md"
      interactive: true
      run: npx markdownlint-cli2 --fix {staged_files}
      stage_fixed: true

    "4. generate markdown TOC":
      glob: "*.md"
      interactive: true
      run: npx doctoc {staged_files}
      stage_fixed: true

pre-push:
  commands:
    "1. Run unit tests":
      run: npx jest -A

feat: Add GitHub Actions workflow for deployment to GitHub Pages and remove TypeScript configuration
  .github/workflows/deploy.yml
  tsconfig.json
Due: 2. format code, docs and config

Add Jest tests for Movable, User, and World classes; refactor performance tests
  lefthook.yml
  package.json
Due: 2. format code, docs and config

refactor: Update script and link tags in index.html for improved organization and consistency
  index.html
  testcommitfile.txt
Due: none

feat: Add CI workflow configuration and update README with CI badge
  .github/workflows/ci.yml
  README.md
Due: 2. format code, docs and config, 3. lint docs, 4. generate markdown TOC

Refactor: Update dependencies and remove obsolete files
  docs/bundle.js
  docs/bundle.js.map
  docs/font-awesome-4.1-1.0/css/font-awesome.css
  docs/font-awesome-4.1-1.0/css/font-awesome.min.css
  docs/font-awesome-4.1-1.0/fonts/FontAwesome.otf
  docs/font-awesome-4.1-1.0/fonts/fontawesome-webfont.eot
  docs/font-awesome-4.1-1.0/fonts/fontawesome-webfont.svg
  docs/font-awesome-4.1-1.0/fonts/fontawesome-webfont.ttf
  docs/font-awesome-4.1-1.0/fonts/fontawesome-webfont.woff
  docs/index.html
  docs/style.css
  package-lock.json
  package.json
  src/app.js
  src/fitness.js
  src/floor.js
  src/interfaces.js
  src/presenters.js
  src/types.js
  src/world.js
  test/world.spec.js
Due: 2. format code, docs and config

refactor: Remove unused style.css file and clean up CSS code
  docs/style.css
  style.css
Due: none

Refactor: Replace lodash functions with individual imports
  docs/bundle.js
  docs/bundle.js.map
  package.json
  src/app.js
  src/challenges.js
  src/elevator.js
  src/fitness.js
  src/interfaces.js
  src/presenters.js
  src/world.js
  test/api.spec.js
  test/elevator.spec.js
Due: 2. format code, docs and config

refactor: Remove lodash chain import and simplify load factor calculation
  test/api.spec.js
Due: none

feat: add concurrently for parallel script execution and update serve command
  .gitignore
  docs/bundle.js
  package-lock.json
  package.json
Due: 2. format code, docs and config

Refactor code structure for improved readability and maintainability
  docs/bundle.js
  docs/bundle.js.map
Due: none

Add highlight.js library and styles for code highlighting
  docs/README.md
  docs/app.md
  docs/base.md
  docs/challenges.md
  docs/elevator.md
  docs/fitness.md
  docs/fitnessworker.md
  docs/floor.md
  docs/interfaces.md
  docs/movable.md
  docs/presenters.md
  docs/types.md
  docs/unobservable.md
  docs/user.md
  docs/world.md
  package.json
  public/CNAME
  public/README.md
  public/bundle.js
  public/bundle.js.map
  public/documentation.html
  public/images/screenshot.png
  public/index.html
  public/libs/highlight/highlight.pack.js
  public/libs/highlight/styles/default.css
  public/libs/highlight/styles/solarized_dark.css
  public/libs/highlight/styles/solarized_light.css
  public/style.css
Due: 2. format code, docs and config, 3. lint docs, 4. generate markdown TOC

Refactor Floor module to use class syntax
  .gitignore
  docs/floor.md
  docs/world.md
  public/bundle.js
  public/bundle.js.map
  src/floor.js
  src/world.js
Due: 2. format code, docs and config, 3. lint docs, 4. generate markdown TOC

Refactor fitness.js to improve documentation and structure
  src/base.js
  src/challenges.js
  src/elevator-facade.js
  src/elevator.js
  src/fitness.js
  src/floor.js
  src/interfaces.js
  src/movable.js
  src/presenters.js
  src/types.js
  src/user.js
  src/world.js
  test/api.spec.js
Due: none

chore: update types.md to remove outdated TOC and improve clarity
  docs/types.md
  public/images/screenshot.png
Due: 2. format code, docs and config, 3. lint docs, 4. generate markdown TOC

Refactor unobservable.js and Jasmine test files to enhance documentation and improve code clarity
  src/unobservable.js
  test/jasmine/boot.js
  test/jasmine/console.js
  test/jasmine/jasmine-html.js
  test/jasmine/jasmine-matchers.js
  test/jasmine/jasmine.js
Due: none

Remove obsolete test files and performance HTML
  .gitignore
  babel.config.js
  jest.config.js
  package-lock.json
  package.json
  test/index.html
  test/jasmine/boot.js
  test/jasmine/console.js
  test/jasmine/jasmine-html.js
  test/jasmine/jasmine-matchers.js
  test/jasmine/jasmine.css
  test/jasmine/jasmine.js
  test/jasmine/jasmine_favicon.png
  test/performance.html
  test/tests.js
Due: 2. format code, docs and config

Add unit tests for Elevator, Movable, User, and World controller; refactor jest.config.js
  jest.config.js
  src/api.spec.js
  src/base.spec.js
  src/challenges.spec.js
  src/elevator.spec.js
  src/movable.spec.js
  src/test-helpers.js
  src/user.spec.js
  src/world.spec.js
Due: none

Update build scripts to exclude test files from bundling
  package.json
Due: 2. format code, docs and config

Add jest-html-reporter for enhanced test reporting and update links in index.html
  jest.config.js
  package-lock.json
  package.json
  public/index.html
  public/test-report.html
Due: 2. format code, docs and config

Enhance project structure and testing setup
  package.json
  public/index.html
  public/styles/style.css
  public/test-report.html
Due: 2. format code, docs and config

Update .gitignore to exclude public/scripts/ directory
  .gitignore
Due: none

Add unit tests for ElevatorFacade and WorldController, enhance documentation
  jest.config.js
  public/test-report.html
  src/elevator-facade.spec.js
  src/elevator.js
  src/presenters.js
  src/world-controller.js
  src/world-controller.spec.js
  src/world.js
Due: none

Refactor Floor class constructor and add unit tests
  public/test-report.html
  src/floor.js
  src/floor.test.js
  src/movable.js
  src/unobservable.js
  src/world.test.js
Due: none

Add elevator simulation classes and tests
  package.json
  public/test-report.html
  src/app/app.js
  src/app/challenges.js
  src/app/challenges.spec.js
  src/app/fitness.js
  src/app/fitnessworker.js
  src/app/presenters.js
  src/app/types.js
  src/models/base.js
  src/models/base.spec.js
  src/models/elevator-facade.js
  src/models/elevator-facade.spec.js
  src/models/elevator.js
  src/models/elevator.spec.js
  src/models/floor.js
  src/models/floor.test.js
  src/models/movable.js
  src/models/movable.spec.js
  src/models/user.js
  src/models/user.spec.js
  src/models/world-controller.js
  src/models/world-controller.spec.js
  src/models/world.js
  src/models/world.test.js
Due: 2. format code, docs and config

Refactor world creation to use World and WorldController classes
  src/app/app.js
Due: none

Refactor simulation logic into a new Simulation class
  public/test-report.html
  src/app/app.js
  src/app/simulation.js
Due: none

Refactor import statements for World and WorldController to use models directory
  src/app/simulation.js
Due: none

Refactor Elevator and Floor classes to use options object for constructor parameters
  package.json
  public/test-report.html
  src/models/elevator-facade.spec.js
  src/models/elevator.js
  src/models/elevator.spec.js
  src/models/floor.js
  src/models/floor.test.js
  src/models/world.js
Due: 2. format code, docs and config

Refactor Floor test to use jest.spyOn for trigger method
  src/models/floor.test.js
Due: none

Refactor elevator and floor models for improved readability and maintainability
  .github/workflows/ci.yml
  .markdownlint.yml
  .prettierrc
  package.json
  public/documentation.html
  public/index.html
  public/test-report.html
  src/app/app.js
  src/app/challenges.spec.js
  src/app/fitness.js
  src/app/fitnessworker.js
  src/app/presenters.js
  src/models/base.js
  src/models/base.spec.js
  src/models/elevator-facade.js
  src/models/elevator-facade.mock.js
  src/models/elevator-facade.spec.js
  src/models/elevator.js
  src/models/elevator.mock.js
  src/models/elevator.spec.js
  src/models/floor.js
  src/models/floor.mock.js
  src/models/floor.test.js
  src/models/movable.js
  src/models/movable.spec.js
  src/models/user.mock.js
  src/models/user.spec.js
  src/models/world-controller.spec.js
  src/models/world.js
  src/models/world.test.js
  src/test-helpers.js
Due: 2. format code, docs and config

Add mock classes for Elevator, Floor, User, and ElevatorFacade; update World class to log floor creation
  public/test-report.html
  src/models/__mocks__/elevator-facade.js
  src/models/__mocks__/elevator.js
  src/models/__mocks__/floor.js
  src/models/__mocks__/user.js
  src/models/world.js
  src/models/world.test.js
Due: none

Refactor World class to use instance variables for floorCount and spawnRate; update tests for consistency and clarity
  public/test-report.html
  src/models/world.js
  src/models/world.test.js
Due: none

Refactor World class to replace elevatorInterfaces with facades; update related tests for consistency
  public/test-report.html
  src/models/world-controller.js
  src/models/world.js
  src/models/world.test.js
Due: none

Refactor Floor and World tests to improve readability; update mock implementations and remove unnecessary console logs
  public/test-report.html
  src/models/floor.test.js
  src/models/world.js
  src/models/world.test.js
Due: none

Refactor Floor test cases to simplify event assertions and improve clarity
  public/test-report.html
  src/models/floor.test.js
Due: none

updated CI branch
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  package.json
Due: 2. format code, docs and config

trying to build before deploying
  .github/workflows/deploy.yml
  public/test-report.html
Due: none

Refactor variable declarations to use 'let' instead of 'const' for mutable variables in app.js and presenters.js. Update challenge parameter type in presentStats function to Object for better clarity.
  public/test-report.html
  src/app/app.js
  src/app/presenters.js
Due: none

Update CI and deploy workflows: adjust Node.js version matrix and add permissions for deployment
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none
